In [141]:
import pandas as pd;
import numpy as np;
import matplotlib.pyplot as plt 
import scipy

In [142]:
#import data

df = pd.read_csv("data\produkt_tu_stunde_19480101_20211231_05906.txt", delimiter=';')
df.head(5)

   STATIONS_ID        Date  QN_9  TT_TU  RF_TU  eor
0         5906  1948010101     5   -0.3   90.0  eor
1         5906  1948010102     5   -0.3   89.0  eor
2         5906  1948010103     5    0.1   89.0  eor
3         5906  1948010104     5    0.5   91.0  eor
4         5906  1948010105     5    0.8   87.0  eor

In [146]:
#remove unneeded data

df=df.drop(columns=['STATIONS_ID', 'QN_9', 'eor'])
df.dtypes

STATIONS_ID             int64
Date           datetime64[ns]
QN_9                    int64
TT_TU                 float64
RF_TU                 float64
eor                    object
dtype: object

In [147]:
#convert int to date

df['Date'] = pd.to_datetime(df['Date'], format='%Y%m%d%H')
df.head(2)

   STATIONS_ID                Date  QN_9  TT_TU  RF_TU  eor
0         5906 1948-01-01 01:00:00     5   -0.3   90.0  eor
1         5906 1948-01-01 02:00:00     5   -0.3   89.0  eor

In [144]:
#remove leap years from dataset
df2 = df[~((df.Date.dt.month == 2) & (df.Date.dt.day == 29))]

        STATIONS_ID                Date  QN_9  TT_TU  RF_TU  eor
0              5906 1948-01-01 01:00:00     5   -0.3   90.0  eor
1              5906 1948-01-01 02:00:00     5   -0.3   89.0  eor
2              5906 1948-01-01 03:00:00     5    0.1   89.0  eor
3              5906 1948-01-01 04:00:00     5    0.5   91.0  eor
4              5906 1948-01-01 05:00:00     5    0.8   87.0  eor
...             ...                 ...   ...    ...    ...  ...
648607         5906 2021-12-31 19:00:00     3   10.2   91.0  eor
648608         5906 2021-12-31 20:00:00     3   10.9   88.0  eor
648609         5906 2021-12-31 21:00:00     3   11.0   88.0  eor
648610         5906 2021-12-31 22:00:00     3   11.1   88.0  eor
648611         5906 2021-12-31 23:00:00     3   11.5   86.0  eor

[648156 rows x 6 columns]

In [145]:
#create labeled data set for predictions in one year

prediction_hours = (365*24)
df2["Prediction_TT"]=df2["TT_TU"].shift(-prediction_hours)
df2["Prediction_RF"]=df2["RF_TU"].shift(-prediction_hours)

df2

<ipython-input-145-0ccba6d8b313>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Prediction_TT"]=df2["TT_TU"].shift(-prediction_hours)
<ipython-input-145-0ccba6d8b313>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Prediction_RF"]=df2["RF_TU"].shift(-prediction_hours)

,STATIONS_ID,Date,QN_9,TT_TU,RF_TU,eor,Prediction_TT,Prediction_RF
0,5906,1948-01-01 01:00:00,5,-0.3,90.0,eor,2.0,87.0
1,5906,1948-01-01 02:00:00,5,-0.3,89.0,eor,1.9,86.0
2,5906,1948-01-01 03:00:00,5,0.1,89.0,eor,2.8,80.0
3,5906,1948-01-01 04:00:00,5,0.5,91.0,eor,3.5,71.0
4,5906,1948-01-01 05:00:00,5,0.8,87.0,eor,3.6,67.0
...,...,...,...,...,...,...,...,...
648607,5906,2021-12-31 19:00:00,3,10.2,91.0,eor,NaN,NaN
648608,5906,2021-12-31 20:00:00,3,10.9,88.0,eor,NaN,NaN
648609,5906,2021-12-31 21:00:00,3,11.0,88.0,eor,NaN,NaN
648610,5906,2021-12-31 22:00:00,3,11.1,88.0,eor,NaN,NaN
648611,5906,2021-12-31 23:00:00,3,11.5,86.0,eor,NaN,NaN